<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Online - Cerca</title>
    <link rel="stylesheet" href="/CSS/style.css" type="text/css">
</head>

<body>
    <div class="container">
        <header>
            <%- include ('../partials/header') %>
        </header>
        <div class="topnav">
            <a class="active" href="/startpage">Homepage</a>
            <a href="/risposte/aggiungirisp">Aggiungi</a>
            <a href="/risposte/modificarisp">Modifica</a>
            <a href="/risposte/eliminarisp">Elimina</a>
        </div>
        <div class="content">
            <h1> <%= testo %> </h1>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Risposta</th>
                    <th>Fk_Domanda</th>
                    <th>Correttezza</th>
                </tr>
                <tr>
                    <td> <%= cercaEl.Id_Risposta %> </td>
                    <td> <%= cercaEl.Risposta %> </td>
                    <td> <%= cercaEl.Fk_Domanda %> </td>
                    <td> <%= cercaEl.Correttezza %> </td>
                </tr>
            </table>
        </div>
        <footer class="footer">
            <%- include ('../partials/footer') %>
        </footer>
    </div>
</body>

</html>